<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://cs623728.vk.me/v623728881/41bc3/8Gc2VZV8FME.jpg">
        <h2>Sergey Pavlov</h2>
        <p>Just a good guy</p>
      </div>

      <div class="item item-body">
        <p>
          Few words about me. I'm a first year student of "Faculty of computer science" of HSE. I love programming, mobile apps, math and making money.
        </p>
      </div>      

      <div class="item tabs tabs-secondary tabs-icon-left">

        <a class="tab-item" href="#">
          <i class="icon ion-social-tux"></i>
        </a>

        <a class="tab-item" href="#">
          <i class="icon ion-social-javascript-outline"></i>
        </a>

        <a class="tab-item" href="#">
          <i class="icon ion-social-android-outline"></i>
        </a>

        <a class="tab-item" href="#">
          <i class="icon ion-social-tux"></i>
        </a>

      </div>

    </div>
  </ion-content>
</ion-view>
